/*  */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;0,700;1,400;1,700;1,800&family=Nunito:ital,wght@0,400;0,600;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&display=swap');

:root {
    --active-color: salmon;
    --main-color: #130f40;
    --breadcrumb-divider: "/";
}

html { 
    font-family: Poppins, sans-serif;
    font-size: 72.5%;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
h1, h2, h4 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: .5rem;
}


h1 {
    font-size: calc(1.375rem + 1.14vw);
}

h4 {
    font-size: calc(1rem + 1.14vw);
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.mx-3 {
    margin-left: 1.5rem;
}
.mb-0 {
    padding-bottom: 0rem !important;
}
.mb-1 {
    padding-bottom: 0.25rem !important;
}
.mb-2 {
    padding-bottom: 0.5rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.mb-4 {
    padding-bottom: 1.5rem !important;
}
.mb-5 {
    padding-bottom: 3rem !important;
}

.page-header {
    color: var(--main-color);
    padding: 2rem 9%;
    background-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

section {
    padding: 5rem 9%;
}
.brand {
    font-size: 2.5rem;
    color: var(--active-color);
    font-weight: bolder;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--main-color);
    margin: 0 1rem;
}

.toolbar a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--main-color);
    cursor: pointer;
}

.navbar a:hover, .toolbar a:hover,
.navbar a:focus, .toolbar a:focus {
    color: var(--active-color);
}

@media (max-width:768px) {
    .page-header .navbar {
        position: absolute;
        left: 0;
        right: 0;
        top: 99%;
        background-color: #fff;

        /* display: none; */
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    #toggler:checked ~ nav.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .page-header .navbar a {
        display: block;
        margin: 1.5rem;
        font-size: 2rem;
    }
}
.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.bg-cover {
    background-size: cover !important;
} 
.bg-center{
    background-position: center center !important;
}

.bg-fixed {
    background-attachment: fixed !important;
}
.bg-light {
    background-color: rgb(245, 241, 241);
}
.hero p span{
    color: var(--active-color);
}

.container {
    --gutter-x: 1.5rem;
    --gutter-y: 0rem;

    width: 100%;
    padding-right: var(--gutter-x, 1rem);
    padding-left: var(--gutter-x, 1rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-top: calc(-1 * var(--gutter-y));
    margin-right: calc(-.5*var(--gutter-x));
    margin-left: calc(-.5*var(--gutter-x));
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}



@media (min-width: 576px) {
    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333%;
    }
    .col-sm-2 {
        flex: 0 0 auto;
        width: calc(200% / 12);
    }
    .col-sm-3 {
        flex: 0 0 auto;
        width: calc(300% / 12);
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: calc(400% / 12);
    }
    .col-sm-5 {
        flex: 0 0 auto;
        width: calc(500% / 12);
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: calc(600% / 12);
    }
    .col-sm-7 {
        flex: 0 0 auto;
        width: calc(700% / 12);
    }
    .col-sm-8 {
        flex: 0 0 auto;
        width: calc(800% / 12);
    }
    .col-sm-9 {
        flex: 0 0 auto;
        width: calc(900% / 12);
    }
    .col-sm-10 {
        flex: 0 0 auto;
        width: calc(1000% / 12);
    }
    .col-sm-11 {
        flex: 0 0 auto;
        width: calc(1100% / 12);
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: calc(1200% / 12);
    }
}

@media (min-width: 768px) {
    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 auto;
        width: calc(200% / 12);
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: calc(300% / 12);
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: calc(400% / 12);
    }
    .col-md-5 {
        flex: 0 0 auto;
        width: calc(500% / 12);
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: calc(600% / 12);
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: calc(700% / 12);
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: calc(800% / 12);
    }
    .col-md-9 {
        flex: 0 0 auto;
        width: calc(900% / 12);
    }
    .col-sm-10 {
        flex: 0 0 auto;
        width: calc(1000% / 12);
    }
    .col-md-11 {
        flex: 0 0 auto;
        width: calc(1100% / 12);
    }
    .col-md-12 {
        flex: 0 0 auto;
        width: calc(1200% / 12);
    }
} 
@media (min-width: 992px) {
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333%;
    }
    .col-lg-2 {
        flex: 0 0 auto;
        width: calc(200% / 12);
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: calc(300% / 12);
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333%;
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: calc(500% / 12);
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: calc(600% / 12);
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: calc(700% / 12);
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: calc(800% / 12);
    }
    .col-lg-9 {
        flex: 0 0 auto;
        width: calc(900% / 12);
    }
    .col-lg-10 {
        flex: 0 0 auto;
        width: calc(1000% / 12);
    }
    .col-lg-11 {
        flex: 0 0 auto;
        width: calc(1100% / 12);
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: calc(1200% / 12);
    }
}
@media (min-width: 1200px) {
    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333%;
    }
    .col-xl-2 {
        flex: 0 0 auto;
        width: calc(200% / 12);
    }
    .col-xl-3 {
        flex: 0 0 auto;
        width: calc(300% / 12);
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: calc(400% / 12);
    }
    .col-xl-5 {
        flex: 0 0 auto;
        width: calc(500% / 12);
    }
    .col-xl-6 {
        flex: 0 0 auto;
        width: calc(600% / 12);
    }
    .col-xl-7 {
        flex: 0 0 auto;
        width: calc(700% / 12);
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: calc(800% / 12);
    }
    .col-xl-9 {
        flex: 0 0 auto;
        width: calc(900% / 12);
    }
    .col-xl-10 {
        flex: 0 0 auto;
        width: calc(1000% / 12);
    }
    .col-xl-11 {
        flex: 0 0 auto;
        width: calc(1100% / 12);
    }
    .col-xl-12 {
        flex: 0 0 auto;
        width: calc(1200% / 12);
    }
}
@media (min-width: 1400px) {
    
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.catalog .product-container .product {
    position: relative;
}
.catalog .product-container .product .content{
    text-align: center;
    padding: 1rem 0;
}

.catalog .product-container .product .content h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.catalog .product-container .product .image {
    height: 35rem;
    width: 100%;
    overflow: hidden;
}

.catalog .product-container .product .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.catalog .product-container .product .content .price {
    font-size: 2rem;
    color: var(--active-color);
}
.catalog .product-container .product .icons {

    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;

}

.catalog .product-container .product .icons a {
    display: block;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    margin-top: 1rem;
    background-color: #fff;
    color: #130f40;
    text-align: center;
}

.catalog .product-container .product .icons a:hover {
    color: #fff;
    background-color: var(--active-color);
} 
#catalog {
    /* id */
}

.header {
    font-size: 3.5rem;
    color: var(--main-color);
    padding-bottom: 2rem;
    text-align: center;
   
}

.hero {
    margin-top: 7rem;
    position: relative;
}

.header span {
    color: var(--active-color);
}

.btn {
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    display: inline-block;

}
.btn-link {
    color: white;
    background-color: var(--active-color);
    border-color: crimson;
    padding: 0.5rem 1rem;
    font-weight: bolder;
    border-radius: 4%;
}
.btn-link:hover, .btn-link:focus {
    color: var(--active-color);
    background-color: #fff;
} 
/* footer */
.bg-dark {
    background-color: dimgray;
} 
.text-white {
    color: whitesmoke;
}
.text-dark {
    color: var(--main-color);
}
.footer-link {
    color: rgb(209, 204, 204) !important;
    font-size: .85rem;
}
.footer-link:hover, .footer-link:focus {
    color: #fff !important;
    padding-left: .5rem;
}

.footer-link::before {
    content: '\f0da';
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    font-weight: 900;
    position: absolute;
    left: -4px;
    top:4px;
    color: #fff;
    opacity: 0;

}

.footer-link:hover::before, .footer-link:focus::before  {
    opacity: 1;
}

.link-unstyled {
    list-style: none !important;
}
.link-unstyled li {
    position: relative;
}
.breadcrumb {
    display: flex;
    padding: 0;
    margin-bottom: 1rem;
    font-size: .85rem;
    list-style: none;
}

.breadcrumb-item {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.7rem;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-right: .5rem;
    color: #ced4da;
    float: left;
    content: var(--breadcrumb-divider);
}
.breadcrumb-item.active {
    color: silver;
}

.text-uppercase {
    text-transform: uppercase;
}

.reset-anchor {
    color: var(--main-color);
    font-size: 1.7rem;
}

.h4 {
    padding: .5rem 1rem;
}

.badge {
    display: inline-block;
    padding: .35rem .65rem;
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

}

.product .image .badge {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
}

.bg-sale {
    background-color: red;
}

.bg-new {
    background-color: green;
}

.bg-action {
    background-color: orange;
}

.d-inline-block {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.align-items-end {
    align-items: flex-end;
}

.d-none {
    display: none;
}
.hidden {
    visibility: hidden;
}

.svg-icon {
    width: 32px;
    height: 32px;
    vertical-align: text-bottom;
    stroke: currentColor;
    stroke-width: 3;
}

.svg-icon-big {
    width: 52px;
    height: 52px;
}